.cart-list {
  margin: 100px 0;
  padding: 0 150px;
}

.cart-list-title {
  padding: 5px 0;
  border-bottom: 2px solid #000;
  margin-bottom: 40px;
}

.cart-empty {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}
