.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 300px);
  height: 50px;
  padding: 0 150px;
  background-color: #132743;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 5;
}

.nav-title {
  cursor: pointer;
}

.menu-products {
  font-size: 15px;
  cursor: pointer;
}

.menu-products:hover {
  color: #edc988;
}

.fas {
  position: relative;
  cursor: pointer;
}

.cart-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  background-color: red;
  color: #fff;
  font-size: 1px;
}
